.menu-drawer {
  --el-drawer-padding-primary: 0;
}

.el-pagination {
  justify-content: flex-end;
}

.el-row {
  .el-col {
    margin-bottom: 10px;
  }
}


.table-actions {
  .el-button {
    margin-bottom: 10px;
  }

}