/* 自定义全局 CssVar */
:root {


  /* switch关闭状态下的color 需要时可取用 */
  --custom-switch-off-color: #a6a6a6;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

html {
  color: var(--custom-text-color);
}


.container {
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: var(--custom-background-color);
}